body {
    margin: 0px;
    padding: 0px;
}
header {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    position: fixed;
}
header .left {
    margin-left: 10px;
}
header .container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

header .navbar-expand-lg .navbar-nav  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
header  .pic img{
   width: 880px; 
}
header .bottom  .a  {
    width: 880px;
    height: 50px;
    font-size: 29px;
    display: flex;
    justify-content: center;
}
header .bottom .a a {
    text-decoration: none;
    color: #414141;
}
header .nav-link {
    color: #636363;
}

header .bottom nav ul li a{
    font-size: 29px;

}
header .footer {
    display: flex;
    justify-content: center;
}
header .bottom nav {
    display: flex;
    justify-content: center;
}
main {
    width: 90%;
    height: 100%;
}
main .paragraph {
    width: 50%;
    height: 100%;
    margin-left: 600px;
    display: grid;
    grid-template-columns: 1fr;
}
main .paragraph .text1 {
    width: 170%;
    height: 100%;
    margin-top: 200px;
}
main .paragraph .text1 p {
    font-size: 16px;
    font-weight: 200;
}
main .paragraph .text1 h2 {
    font-size: 29px;
    font-weight: 300;
}
main .pic .photo1 {
    width: 650px;
    height: 486px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_9418692df1164ac7a032a7efc42acbcf~mv2_d_2715_3620_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_9418692df1164ac7a032a7efc42acbcf~mv2_d_2715_3620_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main .pic .photo2 {
    width: 650px;
    height: 975px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_7e0c91bf25514ae9a92f2e802a63c7d1~mv2_d_5184_3456_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_7e0c91bf25514ae9a92f2e802a63c7d1~mv2_d_5184_3456_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main .pic .photo3 {
    width: 650px;
    height: 433px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_60a259d3ddce43e08cb2a7a5d08ef10b~mv2_d_5472_3648_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_60a259d3ddce43e08cb2a7a5d08ef10b~mv2_d_5472_3648_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main .pic .photo4 {
    width: 650px;
    height: 422px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_d9c9593627c547b698100e18ee1ee912~mv2_d_3019_3002_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_d9c9593627c547b698100e18ee1ee912~mv2_d_3019_3002_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main .pic .photo5 {
    width: 650px;
    height: 422px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_4cf1b817144f4ab59ffc43a1b59595ff~mv2_d_4543_3110_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_4cf1b817144f4ab59ffc43a1b59595ff~mv2_d_4543_3110_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main .pic .photo5 {
    width: 650px;
    height: 422px;
    margin-top: 20px;
    background-image: url("https://static.wixstatic.com/media/21b326_e1d7bfe34c4a46db81bb31ad5661a08f~mv2_d_3710_3710_s_4_2.jpg/v1/fit/w_1356,h_350,q_90/21b326_e1d7bfe34c4a46db81bb31ad5661a08f~mv2_d_3710_3710_s_4_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
/* main .paragraph {
    width: 45%;
    height: 174px;
}
main .paragraph .text1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}
main .paragraph .text1 p {
    font-size: 15px;
    font-weight:  200;
}
main .paragraph .text1 h2 {
    font-size: 29px;
    font-weight: 400;
} */
header .right {
    position: fixed;
    right: 40px;
    top: 50px;
}
footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  footer .top ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  footer .top ul li a {
    color: black;
  }
  footer .bottom p {
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 0px 0px 30px;
  }