body {
    margin: 0px;
    padding: 0px;
}
header {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    position: fixed;
}
header .left {
    margin-left: 10px;
}
header .container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
header .navbar-expand-lg .navbar-nav  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
header  .pic img{
   width: 880px; 
}
header .bottom  .a  {
    width: 880px;
    height: 50px;
    font-size: 29px;
    display: flex;
    justify-content: center;
}
header .bottom .a a {
    text-decoration: none;
    color: #414141;
}
header .nav-link {
    color: #636363;
}

header .bottom nav ul li a{
    font-size: 29px;

}
header .footer {
    display: flex;
    justify-content: center;
}
header .bottom nav {
    display: flex;
    justify-content: center;
}
main {
    width: 90%;
    height: 100%;
}
main .paragraph {
    width: 50%;
    height: 100%;
    margin-left: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr; */
}
main .paragraph .row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}
main .paragraph .text {
    width: 200%;
    height: 5%;
    margin-top: 100px;
}
main .paragraph .text p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 1px 1px;
}
main .paragraph .text h2 {
    font-size: 29px;
    font-weight: 300;   
}
main .paragraph .a p {
    font-size: 15px;
    font-weight: 100;
}
main .paragraph .pic .photo {
    width: 500px;
    height: 180px;
}
main .paragraph .pic .photo h2 {
    font-size: 25px;
    font-weight: 400;
}
main .paragraph .pic .photo1 {
    width: 308px;
    height: 420px;
    margin-top: 360px;
}
main .paragraph .pic .photo1 p {
    font-size: 15px;
    font-weight: 100;
}
main .paragraph .a {
    width: 190%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
main .paragraph .a h1 {
    font-size: 22px;
    font-weight: 200;
    color: #414141;

}
main .contact .input-group {
    position: relative;
    left: 520px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50% ;
    margin-top: 10px;
}
main .input-group input:hover {
    border: 2px solid #636363;
}
main .center div {
    display: flex;
    justify-content: center;
    height: 100px;
}
main .center div p {
    font-size: 16px;
    font-weight: 100;
    color: #636363;
}
main .center ul li a {
    padding: 0px 70px;
    color: #636363;
}
main .center ul li {
    height: 130px;
}
/* main .paragraph {
    width: 45%;
    height: 174px;
}
main .paragraph .text1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}
main .paragraph .text1 p {
    font-size: 15px;
    font-weight:  200;
}
main .paragraph .text1 h2 {
    font-size: 29px;
    font-weight: 400;
} */
header .right {
    position: fixed;
    right: 40px;
    top: 50px;
}
footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  footer .top ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  footer .top ul li a {
    color: black;
  }
  footer .bottom p {
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 0px 0px 30px;
  }
  .navbar-light .navbar-toggler {
    border: 0px;
}