@media screen and (max-width:993px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 815px;
    }
    main .paragraph {
        margin-left: 160px;
    }
    main .contact .input-group {
        left: 250px;
    }
}
@media screen and (max-width:926px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 800px;
    }
    
}
@media screen and (max-width:895px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 810px;
    }
    main .paragraph {
        margin-left: 180px;
    }
}
@media screen and (max-width:840px ) {
    main .paragraph {
        margin-left: 150px;
    }
}
@media screen and (max-width:810px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 745px;
    }
    main .paragraph {
        margin-left: 100px;
    }
}
@media screen and (max-width:750px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 740px;
    }
}
@media screen and (max-width:690px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 745px;
    }
    main .center ul li a{
        padding: 25px;
    }
}
@media screen and (max-width:670px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 745px;
    }
    main .paragraph {
        margin-left: 100px;
    }
}
@media screen and (max-width: 625px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 745px;
    }
}
@media screen and (max-width: 576px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 1015px;
    }
    main .paragraph {
        position: relative;
        left: 100px;
    }
    main .paragraph .text1 {
        width: 100%;
}
    main .center div {
        width: 100%;
    height: 134px;
    margin-top: 30px;
    display: flex;
    justify-content: end
    }
}
@media screen and (max-width: 500px) {
    main .center div {
     width: 140%;
    height: 134px;
    margin-top: 30px;
    display: flex;
    justify-content: end
    }
}
@media screen and (max-width:470px){
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 800px;
    }
}

    @media screen and (max-width:400px){
        header .navbar-toggler {
            position: relative;
            top: -90px;
            left: 1090px ;
        }
        main .paragraph {
            margin-left: 200px;
            width: 250%;
            height: 1119px
        }
        main .paragraph .text p {
            font-size: 28px;
            font-weight: 100;
        }
        main .paragraph .photo h2 {
            font-size: 29px !important;
        }
        main .paragraph .pic .photo {
            width: 130%;
            height: 300px;
        }
        main .paragraph .a  p{
            font-size: 25px;
            font-weight: 100;
        }
        main .paragraph .pic .photo1 {
            width: 450px;
            height: 453px;
            margin-top: 496px
        }
        main .paragraph .photo1 p {
            font-size: 25px !important;
            font-weight: 100 !important;
        }
    }
    @media screen and (max-width:400px ) {
        main .center ul li a{
            padding: 25px;
        }
        main .center div {
            width: 140%;
            height: 134px;
            margin-top: 275px;
            display: flex;
            justify-content: end;
    }
    main .center div p {
        font-size: 27px;
        font-weight: 100;
    }
    main .center ul {
        width: 180% !important;
    }    
    main .center ul a {
        font-size: 20px;
    }
    }
    @media screen and (max-width: 576px) {
        main .center .nav {
            display: flex;
            width: 120%;
            justify-content: end !important;
    }
}
@media screen and (max-width:800px) {
    footer {
        margin: 10px 10px;
    }
}
@media screen and (max-width:700px) {
    footer {
        margin: 40px 210px ;
    }
}

@media screen and (max-width:650px) {
    footer {
        margin:40px 220px;
    }
}
@media screen and (max-width:670px) {
    footer {
        margin: 10px px;
    }
}
@media screen and (max-width:640px) {
    footer {
        margin: 40px 240px;
    }
}
@media screen and (max-width:440px) {
    footer {
        margin: 40px 250px;
    }
}
@media screen and (max-width:400px) {
    footer {
        margin:50px 410px; 
    }
}
@media screen and (max-width:576px) {
    main .paragraph .a {
        width: 100%;
    }
    main .center .nav {
       display: flex;
       width: 120%;
       justify-content: end !important;
    }
}
