@media screen and (max-width:993px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 815px;
    }
    main .paragraph {
        margin-left: 200px;
    }
}
@media screen and (max-width:926px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 800px;
    }
    
}
@media screen and (max-width:895px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 720px;
    }
    main .paragraph {
        margin-left: 180px;
    }
}
@media screen and (max-width:840px ) {
    main .paragraph {
        margin-left: 150px;
    }
}
@media screen and (max-width:810px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 690px;
    }
    main .paragraph {
        margin-left: 100px;
    }
}
@media screen and (max-width:750px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 603px;
    }
}
@media screen and (max-width:700px ) {
    main .paragraph {
        margin-left: 210px;
    }
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 700px;
    }
}
@media screen and (max-width:690px ) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 690px;
    }
    
}
@media screen and (max-width:670px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 790px;
    }
    main .paragraph {
        margin-left: 340px;
    }
}
@media screen and (max-width: 625px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 861px;
    }
}
@media screen and (max-width: 576px) {
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 812px;
    }
    main .paragraph {
        margin-left: 290px;
    }
    main .paragraph .text1 {
        width: 100%;
}
}
@media screen and (max-width:470px){
    header .navbar-toggler {
        position: relative;
        top: 10px;
        left: 800px;
    }
}

    @media screen and (max-width:400px){
        header .navbar-toggler {
            position: relative;
            top: 10px;
            left: 710px;
        }
        main .paragraph {
            margin-left: 200px;
        }
    }
@media screen and (max-width:800px) {
    footer {
        margin: 10px 10px;
    }
}
@media screen and (max-width:700px) {
    footer {
        margin: 40px 115px ;
    }
}

@media screen and (max-width:650px) {
    footer {
        margin:40px 220px;
        }
}
@media screen and (max-width:670px) {
    footer {
        margin: 10px 200px;
    }
}
@media screen and (max-width:640px) {
    footer {
        margin: 20px 240px;
    }
}
@media screen and (max-width:440px) {
    footer {
        margin: 20px 250px;
    }
}
@media screen and (max-width:400px) {
    footer {
        margin:20px 235px;
    }
}
@media screen and (max-width:576px) {
    main .paragraph .a {
        width: 100%;
    }
}