body {
    margin: 0px;
    padding: 0px;
}
header {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    position: fixed;
}
header .left {
    margin-left: 10px;
}
header .container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

header .navbar-expand-lg .navbar-nav  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
header  .pic img{
   width: 880px; 
}
header .bottom  .a  {
    width: 880px;
    height: 50px;
    font-size: 29px;
    display: flex;
    justify-content: center;
}
header .bottom .a a {
    text-decoration: none;
    color: #414141;
}
header .nav-link {
    color: #636363;
}

header .bottom nav ul li a{
    font-size: 29px;

}
header .footer {
    display: flex;
    justify-content: center;
}
header .bottom nav {
    display: flex;
    justify-content: center;
}
main {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}
main .pic  {
    width: 907px;
    height: 600px;
    background-image: url("./21b326_4367d433974440088fb267ae3aee08a3_mv2_d_4676_4679_s_4_2.webp");
}
main .a {
    width: 203%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
main .a a{
    font-size: 29px;
    text-decoration: none ;
    color: #414141 ;
}
main .paragraph {
    width: 45%;
    height: 174px;
}
main .paragraph .text1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}
main .paragraph .text1 p {
    font-size: 15px;
    font-weight:  200;
}
main .paragraph .text1 h2 {
    font-size: 29px;
    font-weight: 400;
}
header .right {
    position: fixed;
    right: 40px;
    top: 50px;
}
footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  footer .top ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  footer .top ul li a {
    color: black;
  }
  footer .bottom p {
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 0px 0px 30px;
  }